<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <div>
    <input class="form-control my-2" placeholder="Name" name="name" [(ngModel)]="product.name" #name="ngModel"
      required="true" minlength="5">
    @if (name.invalid && (name.dirty || name.touched)) {
    @if (name.errors!['required']) {
    <div class="alert alert-danger">
      nombre es requerido!
    </div>
    }

    @if(name.errors!['minlength']){
    <div class="alert alert-danger">
      nombre debe tener almenos 5 caracteres
    </div>
    }
    }
  </div>
  <div>
    <input class="form-control my-2" placeholder="Description" name="descripcion" [(ngModel)]="product.description"
      #description="ngModel" required="true">
    @if (description.invalid && (description.dirty || description.touched)) {
    @if (description.errors!['required']) {
    <div class="alert alert-danger">
      Descripcion es requerido
    </div>
    }
    }
  </div>
  <div>
    <input type="number" class="form-control my-2" placeholder="Price" name="price" [(ngModel)]="product.price"
      #price="ngModel" required="true" min="5">

    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="text-danger">
      <div *ngIf="price.errors!['required']">
        Precio es requerido
      </div>

      <div *ngIf="price.errors!['min']">
        el precio debe ser >= a 5
      </div>
    </div>

  </div>
  <div>
    <button [disabled]="!productForm.form.valid" type="submit" class="btn btn-primary my-2">
      {{product.id > 0 ? 'Update': 'Create'}}</button>
  </div>
</form>